#widgetForm {
	z-index: 100;
	position:absolute;
	background: #CCC;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
}

#widgetForm .close {
	position: absolute;
	top: 5px;
	right: 5px;
}

div.widget-checkbox label {
	font-weight: normal;
	margin-left: 5px;
}