#widgetForm {
	z-index: 100;
	position:absolute;
	background: #CCC;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
}

#widgetForm .close {
	position: absolute;
	top: 5px;
	right: 5px;
}

.selected {
	font-weight: bold;
}

.widget-menu {
	border-bottom: 1px solid black;
}

.cut {
	color: #999;
}

.cut.selected {
	font-weight: normal;
}